################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CheckClient/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/CheckClient/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/CheckClient/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/CheckClient/bin/Debug/net6.0/Microsoft.OpenApi.dll
/CheckClient/bin/Debug/net6.0/CheckClient.runtimeconfig.json
/CheckClient/bin/Debug/net6.0/CheckClient.pdb
/CheckClient/bin/Debug/net6.0/CheckClient.exe
/CheckClient/bin/Debug/net6.0/CheckClient.dll
/CheckClient/obj
/.vs/CheckClient/v17
/.vs/CheckClient/DesignTimeBuild
/CheckClient/bin/Debug/net6.0
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/CheckClient/project-colors.json
/bin/Debug/net6.0/ref
/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net6.0/Microsoft.OpenApi.dll
/bin/Debug/net6.0/CheckClient.runtimeconfig.json
/bin/Debug/net6.0/CheckClient.pdb
/bin/Debug/net6.0/CheckClient.exe
/bin/Debug/net6.0/CheckClient.dll
/obj
/bin/Debug/net6.0
